/* * {
    margin :0;
    box-sizing:border-box;
    font-family:"customfont";
} */

.page {
    height:100px;
    width:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  90vh;
  }

